<% include header %>
	<nav class="top blue">
		<a href="" class="brand-logo" style="top:2rem"><script>document.write(location.href.split('=')[1]);</script>번 테이블</a>
	</nav>

<div class="wrap">
	<% for (i in menu) { %>
	<div class="row">
		<div class="card" style="padding: 1rem 1.5rem">
			<div class="left" style="width: 50%;">
				<sapn class="card-title grey-text text-darken-4"><%= menu[i].name %></sapn>
			</div>
			<div class="right" style="width: 50%;">
				<span class="num"></span>
				<span>가격 : <b class="price"><%= menu[i].price %></b><span>
			</div>
		</div>
	</div>
	<% } %>
</div>
	
	<nav class="foot blue">
		<a href="#modal1" class="brand-logo left modal-trigger">합계 : <span id="sum">0</span></a>
	</nav>

	<div id="modal1" class="modal modal-fixed-footer">
    	<div class="modal-content">
      		<h4>계산서</h4>
      		<p id="bill"></p>
    	</div>
    	<div class="modal-footer">
	    	<p id="billSum" class="left" style="margin-left:20px"></p>
	      	<a href="#submit" id="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">주문</a>
	      	<a href="#service" id="service" class="modal-close waves-effect waves-green btn-flat ">서비스</a>
	    </div>
  	</div>

  	<script>
	function getSum(){
		var sum = $("#sum");
		var tmp=0;

		$(".card").each(function(){
			var right = $(this).children('.right');
			var num = right.children('.num');
			var price = right.children('span').children('.price');
			
			tmp+=(price.html()*1)*(num.html()*1);
		});

		sum.html(tmp);
	}

	function getBill(){
		var text = "";
		var order = [];

		$(".card").each(function(){
			var name = $(this).children('.left').children('.card-title');
     		var num = $(this).children('.right').children('.num');
     		var price = $(this).children('.right').children('span').children('.price');
     		
     		if(num.html()*1){
	     		text+="<p>"+name.html()+" x"+num.html()+"   <b class='right'>"+((num.html()*1)*(price.html()*1))+"</b></p>";
	     		order.push({'name':name.html(),'num':num.html()*1});
	     	}
		});

		$('#bill').html(text);
		$('#billSum').html("합계 : <b>"+$("#sum").html()+"<b>");	

		bill.Order = order;
		bill.Sum = $("#sum").html()*1;
	}
	
	var bill = {'TbNum':0,'Time':"",'Order':[],'Sum':0};

	$(document).ready(function(){


		$('.modal-trigger').leanModal();

		$('#submit').click(function(){
			var now = new Date();
			var nowAll = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds() + " ";

			bill.TbNum = location.href.split('=')[1];
			bill.Time = nowAll;

			$.post('/transaction',{'obj':JSON.stringify(bill)},function(req){
				alert(req[0]);
				location.href = req[1];
			});
		});

		$('#service').click(function(){
			var now = new Date();
			var nowAll = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds() + " ";

			bill.TbNum = location.href.split('=')[1];
			bill.Time = nowAll;
			bill.Sum = 0;
			bill.Service = true;

			$.post('/transaction',{'obj':JSON.stringify(bill)},function(req){
				alert(req[0]);
				location.replace(req[1]);
			});
		});
		
		$(".card").each(function(){
			var left = $(this).children('.left');
     		var right = $(this).children('.right');
     		var num = right.children('.num');

     		left.click(function(){
     			if(num.html()!=""){
     				num.html((num.html()*1)-1);
     				if(num.html()=="0") num.html("");
     			}
     			getSum();
     			getBill();
     		});
     		right.click(function(){
     			if(num.html()=="")
     				num.html(1);
     			else
     				num.html((num.html()*1)+1);
     			getSum();
     			getBill();
     		});
		});
	});
	</script>
<% include footer %>