<% include header %>
<div class="container">
	<ul>
	  <li><a href="/setTable">테이블 수 정하기</li></a>
	  <li><a href="/menuList">메뉴 정하기</a></li>
	  <li><a href="/billList">총무</a></li>
	  <li><a href="/read">저장된 회계장부 읽기</li>
	  <li><a href="/tfList">스태프</a></li>
	  <li><a href="/foodList">조리</a></li>
	  <li><a href="/statusList">테이블 현황</a></li>
	  <li><a href="/restore">복구하기</a></li>
	</ul>
</div>
<% include footer %>
