<% include header %>
<div class="container">
	<ul class="index">
	  <li><a href="/setTable">테이블 수 정하기</li></a>
	  <li><a href="/menuList">메뉴 정하기</a></li>
	  <li><a href="/billList">총무</a></li>
	  <li><a href="/tfList">스태프</a></li>
	  <li><a href="/foodList">조리</a></li>
	  <li><a href="/statusList">테이블별 안나간 안주 현황</a></li>
	  <li><a>------------------------------------------</a></li>
	  <li><a href="/restore">복구하기</a></li>
	</ul>
</div>
<% include footer %>
