<% include header %>

<div class="row">
  <% for(var i=1; i<=tbNum; i++) { %>
      <a href="/orderForm?tbNum=<%= i %>"> 
	<div class="col s4 m3">
          <div class="card light-blue lighten-1 ">
            <div class="card-action" style="text-align: center;">
              <span class="card-title"><%= i %></span>
            </div>
          </div>
        </div>
      </a>
  <% } %>     
</div>

<% include footer %>
