<% include header %>

	<% for (i in menu) { %>
	<a href="/foodList/<%= menu[i].name %>">
		<div class="card" style="padding: 1rem 1.5rem">
			<div class="left" style="width: 50%;">
				<sapn class="card-title grey-text text-darken-4"><%= menu[i].name %></sapn>
			</div>
		</div>
	</a>
	<% } %>
	
<% include footer %>