<% include header %>

 <form id="form" method="post" action="/readOrder">
	<div class="row">
      <div class="row">
        <div class="input-field col s12">
          <textarea name="data" id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">데이터</label>
        </div>
      </div>
	</div>
	        
    <button class="btn waves-effect waves-light" action="form" type="submit" >Submit
      <i class="mdi-content-send right"></i>
    </button>
</form>    

<% include footer %>
