<% include header %>
<div class="container">

<p>테이블 수</p>

<form method="get" action="/SaveTable" id="form">
  <p class="range-field">
    <input type="range" id="tbNum" name="tbNum"  min="0" max="80" />
  </p>

  <button class="btn waves-effect waves-light" type="submit" name="form">Submit
    <i class="mdi-content-send right"></i>
  </button>
</form>

</div>
<% include footer %>
