<% include header %>
	<nav class="top blue">
		<a href="" class="brand-logo" style="top:2rem"><script>document.write(location.href.split('/')[4]);</script>번 테이블</a>
	</nav>

<div class="wrap">
	<% for (i in food) { %>
	<div class="row">
		<div id="<%= i %>" class="card" style="padding: 1rem 1.5rem">
			<div class="left" style="width: 50%;">
				<sapn class="card-title grey-text text-darken-4"><%= food[i].name %></sapn>
			</div>
			<div class="right" style="width: 50%;">
				<span class="num"><%= food[i].time %></span>
				<span>수량 : <b class="price"><%= food[i].amount %></b><span>
			</div>
		</div>
	<% } %>
</div>
	
<% include footer %>