<div class="bg-container pg-menus">
  <div class="container">
    <h2 class="title">메뉴 설정</h2>
    <div class="content">
      <div class="row">
        <form id="frm-add_menu" class="col s12">
         <div class="row">
           <div class="input-field col s6">
             <input id="menu_name" type="text" class="validate" name="name">
             <label for="menu_name">메뉴 이름</label>
           </div>
         </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="init" type="text" class="validate" name="init">
                <label for="init">초기수량</label>
            </div>
            <div class="input-field col s6">
                <input id="stock" type="text" class="validate" name="stock">
                <label for="stock">재고량</label>
            </div>
        </div>
         <div class="row">
           <div class="input-field col s6">
             <input id="price" type="text" class="validate" name="price">
             <label for="price">원가</label>
           </div>
           <div class="input-field col s6">
             <input id="cost" type="text" class="validate" name="cost">
             <label for="cost">판매가</label>
           </div>
         </div>
         <button class="btn waves-effect waves-light" type="submit" name="action">
           Submit<i class="material-icons right">send</i>
         </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('#frm-add_menu').submit(function () {
            var queryString = $('#frm-add_menu').serialize();

            $.ajax({
                method: "PUT",
                url: '/admin/menus',
                data: queryString,
            }).done(function (rtn) {
                location.href = '/admin/menus';
            });
            return false;
        });
    });
</script>
