
<!-- Modal Structure -->
<div id="mdl-set_table" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>테이블 설정</h4>
    <form id="frm_table">
      <p class="range-field">
        <input type="range" id="test5" min="0" max="100" />
      </p>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">설정</a>
  </div>
</div>
