<div class="wrap-tile">
    <h1>회계 관리</h1>
    <div class="row">
        <div class="tile col s12">
            <a href="/accounting/sales">
                <div class="tile-inner ab-center cyan darken-1">
                    <i class="ab-center material-icons">done</i>
                    <div class="text">주문 현황</div>
                </div>
            </a>
        </div>
        <div class="tile col s12">
            <a href="/accounting/stock">
                <div class="tile-inner ab-center cyan darken-1">
                    <i class="ab-center material-icons">view_list</i>
                    <div class="text">재고 확인</div>
                </div>
            </a>
        </div>
    </div>
</div>
