<div class="wrap-tail">
  <h1>손님 테이블</h1>
  <div class="row">
    <div class="num tail col s4 ">
      <a href="#">
        <div class="tail-inner ab-center cyan darken-1">
          <div class="ab-center number-text">1</div>
        </div>
      </a>
    </div>
    <div class="num tail col s4">
      <a href="#">
        <div class="tail-inner ab-center cyan darken-1">
          <div class="ab-center number-text">2</div>
        </div>
      </a>
    </div>
    <div class="num tail col s4">
      <a href="#">
        <div class="tail-inner ab-center cyan darken-1">
          <div class="ab-center number-text">3</div>
        </div>
      </a>
    </div>
  </div>
</div>
